@model KitchenCommandCenter.Web.Features.Widgets.ImageCarousel.ImageCarouselWidgetViewModel

@if (!Model.Items.Any())
{
    <div>
        <strong>@WidgetConstants.ConfigHeading</strong>
        <p>@WidgetConstants.ConfigSubHeading</p>
    </div>
}
else
{
    <section class="@Model.Properties.GetMarginClasses()">
        <!-- Slider main container -->
        <div class="swiper" data-id="@Model.Properties.GetHashCode()" data-swiper-count="@Model.DisplayCount" data-scroll-behavior="@Model.ScrollBehavior.ToString()">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper items-stretch">
                <!-- Slides -->
                @foreach (var item in Model.Items)
                {
                    <div class="swiper-slide">
                        <img class="m-auto max-h-[300px] h-full @(Model.CropImages ? "object-cover" : "object-contain") p-10" src="@item.Asset.Url" alt="@item.AltText" />
                    </div>
                }
            </div>

            @if (Model.ScrollBehavior.ToString() == "Manual")
            {
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            }
            else if (Model.DisplayCount < Model.Items.Count())
            {
                <span class="absolute right-5 bottom-1 z-10">
                    <i class="fa-solid fa-pause text-2xl text-white opacity-25" data-play-pause></i>
                </span>
            }
        </div>
    </section>
}
