@using KCC.Web.Features.Widgets.Hero

@model SmallHeroWidgetViewModel

@{
  var buttonClasses = Model.Dark
    ? "rounded-3xl bg-bone px-4 py-2 text-xl text-onyx"
    : "rounded-3xl bg-surface-500 px-4 py-2 text-xl text-bone";
}

<SmallHero
  data-vue-mount
  :dark="@(Model.Dark ? "true" : "false")"
  class="@Model.Properties.GetMarginClasses()"
>
  <template #eyebrow>@Model.Eyebrow</template>

  <template #title>@Model.Title</template>

  <template #action-button>
    @if (Model.ActionLink is not null)
    {
      <a
        href="@Model.ActionLink.Url"
        target="@Model.ActionLink.Target"
        class="@buttonClasses"
      >
        @Model.ActionLink.DisplayText
      </a>
    }
  </template>

  <template #description>@Model.Description</template>
</SmallHero>
