@using KCC.Web.Features.Widgets.Card.Grid
@using KCC.Web.Models.Common

@model CardGridWidgetViewModel

@if (Model.Cards.Any())
{
  <div class="grid gap-8 lg:grid-cols-2 @Model.Properties.GetMarginClasses()">
    @foreach (var card in Model.Cards)
    {
      <Card
        key="@card.Heading"
        card-color="@card.BackgroundColor"
        card-text-color="text-onyx"
        drawer-color="bg-bone"
        drawer-text-color="text-onyx"
      >
        <div>
          <h2 class="text-heading">@card.Heading</h2>
          <h3>@card.SubHeading</h3>
        </div>

        @if (!string.IsNullOrEmpty(card.Body))
        {
          <template #drawer>
            <p class="text-balance">@card.Body</p>

            @if (card.Link.FirstOrDefault()?.MapToPageLink() is PageLink link)
            {
              <UnderlineLink color="bg-onyx" link-to="@link.Url">
                @link.DisplayText
              </UnderlineLink>
            }
          </template>
        }
      </Card>
    }
  </div>
}
else
{
  <p>@WidgetConstants.ConfigHeading</p>
  <p>@WidgetConstants.ConfigSubHeading</p>
}
