@using KitchenCommandCenter.Web.Extensions
@model KitchenCommandCenter.Web.Features.Components.Pagination.PaginationParameters

@{
    if (Context.Request.Query.ContainsKey("error"))
    {
        // test ability to handle exceptions
        throw new Exception("An error occurred while loading the page.");

    }
    const string pageParameterName = "page";
    IEnumerable<int> enumerableRange;
    try
    {
        enumerableRange = Enumerable.Range(Model.StartPage, Model.EndPage - Model.StartPage + 1);
    }
    catch (Exception)
    {
        return;
    }
}

<div role="navigation" class="search-paging" data-ktc-search-exclude>
    @if (Model.Page > 1)
    {
        <a href="@(Model.Url.AddQueryStringParameter(pageParameterName, "1", Model.HashFragment))" aria-label="First page">&#124;&lt;</a>
        <a href="@(Model.Url.AddQueryStringParameter(pageParameterName, (Model.Page - 1).ToString(), Model.HashFragment))" aria-label="Previous page">&lt;</a>
    }

    @if (Model.Page > Model.GroupSize)
    {
        // Link to the first page of the previous group
        <a href="@(Model.Url.AddQueryStringParameter(pageParameterName, (Model.StartPage - 1).ToString(), Model.HashFragment))" aria-label="Previous pages">...</a>
    }

    @foreach (var i in enumerableRange)
    {
        var ariaPageString = i < 10 ? $"0{i}" : $"{i}";

        if (i == Model.Page)
        {
            <strong aria-current="true">@i</strong>
        }
        else
        {
            <a href="@(Model.Url.AddQueryStringParameter(pageParameterName, i.ToString(), Model.HashFragment))" aria-label="@ariaPageString">@i</a>
        }
    }

    @if (Model.EndPage < Model.TotalPages)
    {
        // Link to the first page of the next group
        <a href="@(Model.Url.AddQueryStringParameter(pageParameterName, (@Model.EndPage + 1).ToString(), Model.HashFragment))" aria-label="Next pages">...</a>
    }

    @if (Model.Page < Model.TotalPages)
    {
        <a href="@(Model.Url.AddQueryStringParameter(pageParameterName, (Model.Page + 1).ToString(), Model.HashFragment))" aria-label="Next page">&gt;</a>
        <a href="@(Model.Url.AddQueryStringParameter(pageParameterName, Model.TotalPages.ToString(), Model.HashFragment))" aria-label="Last page">&gt;&#124;</a>
    }
</div>
