@model KitchenCommandCenter.Web.Features.Widgets.SideBySide.SideBySideWidgetViewModel

@if (!Model.Items.Any())
{
    <div>
        <strong>@WidgetConstants.ConfigHeading</strong>
        <p>@WidgetConstants.ConfigSubHeading</p>
    </div>
}
else
{
    var widgetStyles = Model.Layout == "image-left" ? "flex-row-reverse even:flex-row" : "even:flex-row-reverse";

    @foreach (var item in Model.Items)
    {
        <div class="flex gap-8 mb-12 last:mb-0 @widgetStyles">
            <div class="flex flex-col justify-center w-full">
                <div class="font-bold text-4xl text-primary-800 mb-4">@item.Heading</div>
                @if (!string.IsNullOrEmpty(item.Body))
                {
                    <div class="text-xl text-neutral-600 mb-4">@item.Body</div>
                }
                @if (item.Button != null)
                {
                    <bzs-button-link class="primary large w-fit" href="@item.Button.ButtonUrl" target="@item.Button.ButtonTarget">
                        @item.Button.ButtonText
                    </bzs-button-link>
                }
            </div>
            <div class="w-full">
                <img src="@item.Image?.ImageAsset.Url" alt="@item.Image?.ImageAltText" class="w-full" />
            </div>
        </div>
    }
}
